{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "startWarsPeople",
    "description" : "defaultDescription",
    "version" : "0.1"
  },
  "servers" : [ {
    "url" : "https://swapi.dev"
  } ],
  "paths" : {
    "/api/people/4/" : {
      "get" : {
        "description" : "Auto generated using Swagger Inspector",
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\"name\":\"Darth Vader\",\"height\":\"202\",\"mass\":\"136\",\"hair_color\":\"none\",\"skin_color\":\"white\",\"eye_color\":\"yellow\",\"birth_year\":\"41.9BBY\",\"gender\":\"male\",\"homeworld\":\"https://swapi.dev/api/planets/1/\",\"films\":[\"https://swapi.dev/api/films/1/\",\"https://swapi.dev/api/films/2/\",\"https://swapi.dev/api/films/3/\",\"https://swapi.dev/api/films/6/\"],\"species\":[],\"vehicles\":[],\"starships\":[\"https://swapi.dev/api/starships/13/\"],\"created\":\"2014-12-10T15:18:20.704000Z\",\"edited\":\"2014-12-20T21:17:50.313000Z\",\"url\":\"https://swapi.dev/api/people/4/\"}"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://swapi.dev"
        } ]
      },
      "servers" : [ {
        "url" : "https://swapi.dev"
      } ]
    }
  },
  "components" : {
    "schemas" : {
      "inline_response_200" : {
        "type" : "object",
        "properties" : {
          "films" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "homeworld" : {
            "type" : "string"
          },
          "gender" : {
            "type" : "string"
          },
          "skin_color" : {
            "type" : "string"
          },
          "edited" : {
            "type" : "string"
          },
          "created" : {
            "type" : "string"
          },
          "mass" : {
            "type" : "string"
          },
          "vehicles" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "url" : {
            "type" : "string"
          },
          "hair_color" : {
            "type" : "string"
          },
          "birth_year" : {
            "type" : "string"
          },
          "eye_color" : {
            "type" : "string"
          },
          "species" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "starships" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "name" : {
            "type" : "string"
          },
          "height" : {
            "type" : "string"
          }
        }
      }
    }
  }
}